<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=user.name%>'s tweet
    </title>
</head>

<body>
    <h1>
        <%=user.name%>'s tweet
    </h1>
    <p>
        <%=tweet.tweet%>
            <b>Likes:
                <%=tweet.likes%>
            </b>
            <b>Dislikes:
                <%=tweet.dislikes%>
            </b>
    </p>
    <a href="/users/<%=user._id%>/tweets/<%=tweet._id%>/edit">
        <button>Edit</button>
    </a>
    <form action="/users/<%=user._id%>/tweets/<%=tweet._id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>

</body>

</html>